<p>
  <strong>店舗名：</strong>
  <%= @shop.name %>
</p>

<% if @shop.image.attached? %>
  <div class="image">
    <%# widthオプションで表示サイズを指定（単位はpx） %>
    <%= image_tag @shop.image, width: 300 %>
  </div>
<% end %>

<p>
  <strong>所在地：</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>詳細：</strong>
  <%= @shop.detail %>
</p>

<% if current_user.already_liked?(@shop) %>
  <%# いいね解除ボタン %>
  <%= button_to 'いいねを取り消す', shop_likes_path(@shop), method: :delete %>
<% else %>
  <%# いいね登録ボタン %>
  <%= button_to 'いいね', shop_likes_path(@shop), method: :post %>
<% end %>

<%# いいね数の表示 %>
<p>いいね数: <%= @shop.likes.count %></p>
<%= link_to 'Back', '/' %>