<% @items.each do |f| %>
  <p>
      name: <%= f.name %>, 
      liter: <%=f.liter %>
      price: <%=f.price %>
      category: <%=f.category %>
      detail: <%=f.detail %>
      <%= link_to '表示', item_path(f) %>
      <%= link_to '編集', edit_item_path(f) %>
  </p>
<% end %>
<p><%= link_to '新規追加', new_item_path %></p>