<%= form_with model: @item do |f| %>
  <div class="form-group">
      <%= f.label :shop_id, "酒場を選択" %>
      <%= f.collection_select :shop_id, Shop.all, :id, :name, { prompt: "選択してください" }, { class: "form-control" } %>
  </div>
  <%= f.label :name, '商品名' %>
  <%= f.text_field :name %>
  <%= f.label :liter, '内容量' %>
  <%= f.text_field :liter %>
  <%= f.label :price, '値段' %>
  <%= f.text_field :price %>
  <%= f.label :category, '種類（日本酒、ウイスキー、リキュール等）' %>
  <%= f.text_field :category %>
  <%= f.label :detail, '詳細' %>
  <%= f.text_field :detail %>
  <%= f.label :image, '画像' %>
　<%= f.file_field :image %>
  <%= f.submit '登録' %>
<% end %>