<p>
  <strong>商品名：</strong>
  <%= @items.name %>
</p>

<p>
  <strong>内容量：</strong>
  <%= @items.liter %>
</p>

<p>
  <strong>値段：</strong>
  <%= @items.price %>
</p>

<p>
  <strong>種類：</strong>
  <%= @items.category %>
</p>

<p>
  <strong>詳細：</strong>
  <%= @items.detail %>
</p>

<%= link_to 'Back', '/' %>